<div class="row ml-0 mr-0 child-box" >
    <div class="col-lg-2 d-none d-lg-block"></div>
    <div class="col-lg-1 fw-bold  pt-3 pb-3 center"><span
            >Department:</span>&nbsp;<span class="text-warning">induct</span></div>
    <div class="col-lg-1  d-none d-lg-block"></div>
    <div class="col-lg-4  pt-3 pb-3 textBold center"><span>THURSDAY,</span><span
            class="text-success "> MAY 22,2025,</span><span class="text-warning ">03:05:11 PM</span></div>
    <div class="col-lg-1 d-none d-lg-block"></div>
    <div class="col-lg-2 fw-bold pt-3 pb-3 center"><span>Last Refresh:</span>&nbsp;<span
            class="text-warning">01:59:39pm</span></div>
    <div class="col-lg-1 pt-3 pb-3 center"><button (click)="toggleTheme()" class="btn-small">click</button></div>
    <button class="btn"></button>