<div class="header">
  <div class="header-block">
    <h2 class="logo">A X I D I O <span class="sub-logo">Digital Innovation Accelerated</span></h2>
  </div>
  <div class="header-block">
    <p><strong>Department : </strong> <span class="highlight">Induct</span></p>
  </div>
  <div class="header-block">
    <h2 class="timestamp">Thursday, <span class="date">May 22, 2025</span>, <span class="time">03:05:11 PM</span></h2>
  </div>
  <div class="header-block">
    <p>Last Refresh : <span class="last-refresh"> 01 : 59 : 39 pm</span></p>
  </div>
  <!-- <div class="header-block">
    <h2 class="retina">R E T I N A</h2>
  </div> -->
  <div class="header-block">
 <button class="btn btn-outline-light btn-sm" (click)="toggleTheme()">
  <i class="bi bi-list fs-4"></i>
</button>
  </div>
</div>

